 <!-- About Section -->
    <section class="success" id="publications">
        <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                Please see <a href="http://dblp.uni-trier.de/pers/hd/c/Chui:Carmen.html">DBLP</a> or <a href="https://scholar.google.ca/citations?user=R1gxO74AAAAJ&hl=en">Google Scholar</a>.
            </div>
        </div>
        </div>
    </section>