
    <section class="success" id="research">
        <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research Interests</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               My research focuses on the formal logical representations of semantic descriptions of information, <i>ontologies</i>, and their applications.  In particular, my work revolves around how information can be efficiently obtained and represented in logical form; a key focus of my work is to determine how to manage and break down large ontologies to ensure they capture the correct semantics, are intrinsically and logically correct, and can be combined with different (smaller) ontologies.  My work contributes to the advancement of knowledge representation, artificial intelligence and logic, with applications in engineering, chemistry, and geometry.
            </div>
        </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="cv">
        <div id="portfolio">
        <div class="container">
            <div class="row blackheader">
                <div class="col-lg-12 text-center">
                    <h2>CV</h2>
                    <hr class="star-primary">
            </div>
            <div class="row">
                <h3>Education</h3>
				<h4>Ph.D. in Industrial Engineering<span>University of Toronto, 2013 - Present</h4>
				<ul>
                    <li>Currently a Ph.D. Candidate</li>
                    <li>Dissertation: "An Ontological Approach to Medicinal Chemistry"</li>
                    <li>Adviser: <a href="http://stl.mie.utoronto.ca/gruninger.html">Michael Gruninger</a></li>
                </ul>
				
                
                
               <h2>M.A.Sc. in Industrial Engineering<span>University of Toronto, 2011 - 2013</span></h2>
                <ul>
                    <li>Dissertation: <a href="https://tspace.library.utoronto.ca/handle/1807/42747">"Axiomatized Relationships Between Ontologies"</a></li>
                    <li>Adviser: <a href="http://stl.mie.utoronto.ca/gruninger.html">Michael Gruninger</a></li>
					<li>Committee: <a href="http://www.eil.utoronto.ca/profiles/foxpro.html">Mark Fox</a>, <a href="http://stl.mie.utoronto.ca/gruninger.html">Michael Gruninger</a>, <a href="http://shulab.mie.utoronto.ca/members/shu/">L.H. Shu</a></li>
                </ul>
				
				<h2>B.A.Sc. in Industrial Engineering<span>University of Toronto, 2007 - 2011</span></h2>
                <ul>
                    <li>Graduated with Honours</li>
					<li>Dissertation: "Reasoning About Changes"</li>
                    <li>Adviser: <a href="http://stl.mie.utoronto.ca/gruninger.html">Michael Gruninger</a></li>
                </ul>
            </dd>
            
			<dd class="clear"></dd>
            
            
            
        </dl>
            </div>
        </div>
        </div>
    </section>