<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<nav id="sidebar-icon-links">
<a id="email-download-link"
   class="icon" title="email" aria-label="email"
   href="mailto:cchui@mie.utoronto.ca">
  {% include svg/email.svg %}
</a>
<a id="github-download-link"
   class="icon" title="github" aria-label="github"
   href="https://github.com/carmenchui">
  {% include svg/github.svg %}
</a>
<a id="linkedin-download-link"
   class="icon" title="linkedin" aria-label="linkedin"
   href="https://linkedin.com/in/carmenchui">
  {% include svg/linkedin.svg %}
</a>
<a id="dblp-download-link"
   class="icon" title="dblp" aria-label="dblp"
   href="http://dblp.uni-trier.de/pers/hd/c/Chui:Carmen">
  {% include svg/books.svg %}
</a>

        {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fa fa-fw fa-chain" aria-hidden="true"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.dblp %}
        <li><a href="{{ author.dblp }}"><i class="fa fa-fw fa-chain" aria-hidden="true"></i> DBLP</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
<!-- 
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">
    {% include svg/feed.svg %}
  </a>
-->
  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

<!--  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
-->
  {% include custom-icon-links.html %}
  

  
</nav>
