<nav id="sidebar-icon-links">
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.hydeout.repo }}">
      {% include svg/github.svg %}
    </a>
    <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="{{ site.hydeout.repo }}/archive/v{{ site.hydeout.version }}.zip">
      {% include svg/download.svg %}
    </a>
  {% endif %}
<!-- 
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">
    {% include svg/feed.svg %}
  </a>
-->
  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

<!--  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
-->
  {% include custom-icon-links.html %}
  
  <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=5511939; 
var sc_invisible=1; 
var sc_security="ae1c997c"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/5511939/0/ae1c997c/1/" alt="web
analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<script type="text/javascript">
//Enter list of banned ips, each separated with a comma:
var bannedips=["109.63.140.186", "188.32.139.59", "79.111.94.163", "5.228.118.17","95.28.205.220","176.193.229.167","188.32.240.199","95.221.58.133","109.63.129.239","95.28.228.205","176.193.239.89"]

var ip = '<!--#echo var="REMOTE_ADDR"-->'

var handleips=bannedips.join("|")
handleips=new RegExp(handleips, "i")

if (ip.search(handleips)!=-1){ 
alert("Redirecting...")
window.location.replace("http://www.google.com")
}

</script>
  
</nav>
