---
layout: default
---
<head>
  <meta charset=utf-8 />
  <title>Carmen Chui's CV</title>
  <link href="assets/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="assets/css/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link href="assets/css/academicons.min.css" rel="stylesheet">

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>

<header>
<h1 class="page-title">Curriculum Vitae</h1>
</header>
<div class="content">
  {{ content }}
</div>
